# Local
/scripts/
/NOTEBOOK_AUDIT.md
/readings

# Notebooks - to be released after the date specified in the filename
/notebooks/*_2026-09-01_*.ipynb
# /notebooks/*_2026-09-03_*.ipynb
/notebooks/*_2026-09-08_*.ipynb
/notebooks/*_2026-09-10_*.ipynb
/notebooks/*_2026-09-15_*.ipynb
/notebooks/*_2026-09-17_*.ipynb
/notebooks/*_2026-09-22_*.ipynb
/notebooks/*_2026-09-24_*.ipynb
/notebooks/*_2026-09-29_*.ipynb
/notebooks/*_2026-10-01_*.ipynb
/notebooks/*_2026-10-06_*.ipynb
/notebooks/*_2026-10-08_*.ipynb
/notebooks/*_2026-10-15_*.ipynb
/notebooks/*_2026-10-22_*.ipynb
/notebooks/*_2026-10-27_*.ipynb
/notebooks/*_2026-10-29_*.ipynb
/notebooks/*_2026-11-03_*.ipynb
/notebooks/*_2026-11-05_*.ipynb
/notebooks/*_2026-11-10_*.ipynb
/notebooks/*_2026-11-12_*.ipynb
/notebooks/*_2026-11-17_*.ipynb
/notebooks/*_2026-11-19_*.ipynb
/notebooks/*_2026-11-24_*.ipynb
/notebooks/*_2026-12-01_*.ipynb
/notebooks/*_2026-12-03_*.ipynb
/notebooks/*_2026-12-08_*.ipynb
/notebooks/*_2026-12-10_*.ipynb
module-plan.md
